body {
    display: flex;
    justify-content: center;
    background-color: #6d695c;
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
}

h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #a59788;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}

